 code_word <%=@code_word%>
 <ul>
     <li>
         <a href="/todos/1">Wake up</a>
     </li>
     <li>   </li>
 </ul>
 <body>
     <h3>Add new note</h3>
     <form action="/todos" method= "POST">
         <input type="hidden" name="authenticity_token"
            value="<%= form_authenticity_token%>"
         <input type="text" name="name"/>
         <input type="text" name="description"/>
         <input type="number" name="duration"/>
         <input type="checkbox" name="complete"/>
         <input  type="submit"/>
     </form>
    <h1>Mah lyfe</h1>
        <img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/384/377/a51.png" alt="I'll have you know Spongebob face" width="250" height="200">
            <h2>To-do List</h2>
                <ul>
                    <li><input type="checkbox"> Get a shape up</li>
                    <li><input type="checkbox"> Get package at the post office</li>
                    <li><input type="checkbox"> Watch YouTube</li>
                    <li><input type="checkbox"> Go to party</li>
                </ul>
    </body>