
    h2 {
        color: yellow;
        background-color: purple;
        border: 7px;
        width: 400;
        height: 350;
    }
    
    h1 {
        color: orange;
        background-color: lightpink;
    }
